* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100dvh;
  background: -webkit-linear-gradient(to right, #ACB6E5, #b2edff);
  background: linear-gradient(to right, #ACB6E5, #b2edff);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.my-title {
  position: absolute;
  width: max-content;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 100;
  font-family: monospace;
}

.my-title h4 {
  font-family: "Gloria Hallelujah", serif;
  font-size: 5rem;
  text-align: center;
}

.my-title article {
  font-size: 1.5rem;
  text-align: center;
  font-family: monospace;
}

.transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 100;
  pointer-events: none;
  cursor: none;
}

.transition-row {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.transition-row.row-1 .block {
  transform-origin: top;
}

.transition-row.row-2 .block {
  transform-origin: bottom;
}

.block {
  flex: 1;
  background-color: #212121;
  transform: scaleY(1);
  will-change: transform;

  backface-visibility: hidden;
  transform: scale(1.01);
}

h1 {
  text-align: center;
  font-size: 2.3rem;
  margin-top: 0;
  margin-bottom: 3rem;
  color: #212121;
  display: none;
  font-family: "Gloria Hallelujah", serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 650px;
  margin: 0 auto;
  z-index: 10;
}

.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  font-family: monospace;
}

.lives {
  font-size: 1.5rem;
  font-weight: bold;
  color: #212121;

  display: flex;
  align-items: center;
  gap: 8px;
}

/* lives score animation */
.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* update heart animation */
.heart,
.heart-broken {
  display: inline-block;
  transition: opacity 0.5s ease;
}

.heart-broken.animate {
  animation: slideDown 1s ease-out forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}

p {
  margin: 0 0 20px;
}

#game-message-1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  position: relative;
  aspect-ratio: 1;
  background: #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

  transform-style: preserve-3d;
  transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  pointer-events: none;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}

.card.flipped {
  transform: rotateY(180deg);
  backface-visibility: visible;
}

button {
  padding: 0.5rem 1rem;
  background: #414141;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: monospace;
  font-weight: bold;
}

button:hover {
  background: #2b2b2b;
}

.hidden {
  display: none;
}

.game-over {
  position: fixed;
  width: 310px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 2;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card.matched {
  pointer-events: none;
}

.card.match {
  animation: match-scale 0.5s ease-in-out;
}

/* cards match animation */
@keyframes match-scale {
  0% {
    transform: rotateY(180deg) scale(1);
  }

  50% {
    transform: rotateY(180deg) scale(1.1);
  }

  100% {
    transform: rotateY(180deg) scale(1);
  }
}

.footer {
  text-align: right;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: monospace;

  a {
    text-decoration: none;
  }
}

/* Responsive */
@media screen and (max-width: 700px) {
  .my-title h4 {
    font-size: 3rem;
  }

  .my-title article {
    font-size: 1.3rem;
  }

  .container {
    padding: 0 1rem;
  }

  h1 {
    margin-bottom: 5rem;
    display: block;
  }

  .card {
    font-size: .8rem;
  }
}